@import '@styles/_variables';

.main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 0 .5rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  max-width: 880px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
  background: rgba(#fff, .8);
  backdrop-filter: blur(8px);

  @media(min-width: 480px) {
    padding: 40px;
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
  margin-top: 0;
}

.description {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.file-drop-indicator {
  // this isn't the actual file drop, just a thing on the page
  // that makes it look like you can drop stuff onto it

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 240px;
  border: 5px dashed rgba(0, 0, 0, .5);
  max-width: 800px;
  padding: .5rem;

  @media(min-width: 480px) {
    padding: 1.5rem;
  }
}

.file-drop-indicator-text {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .75rem;
  color: rgba(0, 0, 0, .8);
}

.file-picker-wrapper {
  margin-top: .75rem;
}

.warning {
  margin-top: 0;
  margin-bottom: 32px;
  color: red;
  font-style: italic;
}

.vsusp-link {
  font-weight: 500;
  font-size: 1.25rem;
  margin: .5rem 0;
}

